:root {
    --bg-color: rgb(47, 44, 63);
    --bg-color2: rgb(83, 40, 52);
    --font-color: #e4e3e6;
    --link-color: #e49fb6;
    --hover-color: #7d9e6d;
    --socialmedia-color: #e4e3e6;
}


html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("../images/bodybg.png"), radial-gradient(circle, var(--bg-color2) 0%, var(--bg-color) 100%);
    background-color: rgb(47, 44, 63);
    background-repeat: repeat;
    font-family: 'Inter', Arial, sans-serif;
    color: var(--font-color);
    margin: 0;
}

h1 {
    font-size: 4em;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

nav {
    align-self: flex-end;
}



/* links */

a {
    text-decoration: none;
    color: var(--link-color);
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}

a:hover {
    color: var(--hover-color);
}

/* social media buttons */

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .8em;

}

.socialmedia i {
    font-family: 'Font Awesome 5 Brands', 'Font Awesome';
    font-weight: 900;
    font-style: normal;
    color: var(--socialmedia-color);
    font-size: 2.4em;
}

/* menu/links */

li {
    list-style-type: none;
    display: inline;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* portrait photo */

.portrait {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    opacity: 0.8;
}