:root {
    --bg-color: #524f86;
    --bg-color2: #1e1f27;
    --bg-color-header: rgba(45, 44, 63, 0.4);
    --font-title-color: #dadae9;
    --font-body-color: #b0afbd;
    --link-color: #e49fb6;
    --hover-color: #d0d1e6;
    --font-footer-color: #86849b;
    --bg-menu-link: rgba(231, 234, 241, 0.15);
    --bg-menu-hover: rgba(231, 234, 241, 0.082);
    --portrait-shadow: rgba(24, 23, 32, 0.2);
    --selection-bg: rgba(202, 195, 255, 0.411);
    --selection-text: #2d2c3f;
}


html {
    margin: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

::selection {
    color: var(--selection-text);
    background: var(--selection-bg);
}

body {
    width: 100vw;
    max-width: 100%;
    background-image: url("images/bodybg.png"), linear-gradient(to bottom right, var(--bg-color2) 0%, var(--bg-color) 100%);
    /* background-image: url("images/bodybg.png"); */
    /* background-color: #101015; */
    /* background-color: var(--bg-color); */
    background-repeat: repeat;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    color: var(--font-body-color);
    margin: 0;
    
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    height: 4.8em;
    background-color: #1a1722e1;
    z-index: 9999;
    box-shadow: 0px 0px 18px rgba(9, 7, 10, 0.164);
}

/* logo */

.logo {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.5rem;
    font-family: 'Noto Sans Mono', monospace;
    align-items: center;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    color: white;
    opacity: 0.8;
    font-weight: 700;
}

.logo img {
    margin-right: 0.3em;
    width: 1.1em;
    height: 1.1em;
}

.logo a:hover, .logo a {
    color: white;
}

nav {
    padding: 0 1rem 0 1rem;
    display: flex;
    max-width: 1200px;
    height: 4.8em;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

h1 {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 3.6em;
    font-weight: 700;
    color: var(--font-title-color);
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h2 {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.8em;
}

h3 {
    font-family: 'Noto Sans Mono', monospace;
}

main {
    margin: 4rem 2rem 4rem 2rem;
    align-self: center;
    flex-grow: 1;
    max-width: 1000px; 
    /* margin: -8em 4em 0em 4em; */
    animation: fadeInAnimation ease 1.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

main p {
    line-height: 1.5em;
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
    /* transform: translateY(20%); */
}
100% {
    opacity: 1;
    /* transform: translateY(0%); */
 }
}

.all {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}


/* links */

a {
    text-decoration: none;
    color: var(--font-body-color);
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

a:hover {
    color: var(--hover-color);
}

/* social media buttons */

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;

}

.socialmedia i {
    font-family: 'Font Awesome 5 Brands', 'Font Awesome';
    font-style: normal;
    font-weight: 400;
    color: var(--font-title-color);
    font-size: 2em;
    opacity: 0.5;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    
}

.socialmedia i:hover {
    opacity: 0.9;
}

/* menu/links */

.menu li:hover{
    color:white;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;

  }


  /*Container for menu button  */
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  /*  Creating the menu button */
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    color: var(--font-body-color) !important;
    position: absolute;
    height: 2px;
    width: 22px;
    border-radius: 1px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  /*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
  }

/* Making the navbar responsive by CSS Media Queries */
@media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }



.menu {
      position: absolute;
      top: 0;
      margin-top: 4.8em;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      
}

#menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }

#menu-toggle:checked ~ .menu li {
      height: 5em;
    }

.menu > li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      color: black;
      background-color: #524f86;
      -webkit-transition: .2s ease;
      -moz-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease;
      
}
.menu > li:not(:last-child) {
   
    }
}


ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


footer {
    justify-self: flex-end;
    color: var(--font-footer-color);
    font-size: 0.7em;
    font-weight: 600;
    vertical-align: middle;
}


footer li {
    margin-right: .35em;
    vertical-align: middle;
    list-style-type: none;
    display: inline;
    font-weight: 600;
}


footer i {
    font-family: 'Font Awesome 5 Brands', 'Font Awesome';
    font-style: normal;
    font-weight: 400;
    color: var(--font-title-color);
    font-size: 1.6em;
    opacity: 0.5;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    vertical-align: middle;
}

.portrait {
    border-radius: 100px;
    opacity: 0.9;
    width: 10em;
    height: 10em;
    box-shadow: 0px 0px 18px rgba(15, 12, 19, 0.205);
   /* box-shadow: 11px 11px 0 -0 var(--portrait-shadow); */
    transition: transform .4s;
    -moz-transition: transform .4s;
    -webkit-transition: transform .4s;
    -o-transition: transform .4s;
}

.portrait:hover {
    transition: transform .4s;
    -moz-transition: transform .4s;
    -webkit-transition: transform .4s;
    -o-transition: transform .4s;
    
    transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -webkit-transform: translateY(-8%);
    -o-transform: translateY(-8%);
}

.GoFast {
    width: 960px;
    height: 660px;
}

.onlypc, .GoFast, .GoFast iframe {
    display: none;
}


@media only screen and (min-width: 1200px) {

    main {
        margin: 7rem 2rem 4rem 2rem;
    }
    
    .GoFast iframe {
        display: initial;
    }

    .GoFast {
        display: initial;
    }

    .onlypc {
 display: initial;
    }

  }


@media only screen and (min-width: 1200px) {


    .onlySmallScreens {
 display: none;
    }

  }