:root {
    --bg-color: #2d2c3f;
    --bg-color2: #2d3f4e;
    --bg-color-header: rgba(45, 44, 63, 0.4);
    --font-title-color: #e7eaf1;
    --font-body-color: #bbbfc5;
    --link-color: #e49fb6;
    --hover-color: #d0e1e6;
    --font-footer-color: #6c6c7e;
    --bg-menu-link: rgba(231, 234, 241, 0.15);
    --bg-menu-hover: rgba(231, 234, 241, 0.7);
    --portrait-shadow: rgba(24, 23, 32, 0.2);
    --selection-bg: rgba(143, 238, 255, 0.7);
    --selection-text: #2d2c3f;
}


html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
}

::selection {
    color: var(--selection-text);
    background: var(--selection-bg);
}

body {
    background-image: url("images/bodybg.png"), linear-gradient(to bottom, var(--bg-color2) 0%, var(--bg-color) 100%);
    background-color: var(--bg-color);
    background-repeat: repeat;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 300;
    color: var(--font-body-color);
    margin: 0;
    
}

header {
    border-bottom: 0px solid  var(--bg-menu-link);
    width: 100vw;
    display:flex;
    justify-content: space-around;
    height: 7em;
}

/* logo */

.logo {
    align-self: flex-end;;
    justify-self: flex-end;
}

.logo img {
align-self: center;
justify-self: center;
width: 2.8em;
height: 2.8em;
opacity: 0.5;
border-radius: 5px;
-webkit-transition: .4s ease;
-moz-transition: .4s ease;
-o-transition: .4s ease;
transition: .4s ease;
}

.logo img:hover {
    opacity: 0.8;
}

nav {
    align-self: flex-end;
    justify-self: flex-end;
}



h1 {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 4em;
    font-weight: 700;
    color: var(--font-title-color);
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

main {
    max-width: 1300px;
    margin: -8em 4em 0em 4em;
    animation: fadeInAnimation ease 1.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
    transform: translateY(20%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
 }
}

.all {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}


/* links */

a {
    text-decoration: none;
    color: var(--font-body-color);
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

a:hover {
    color: var(--hover-color);
}

/* social media buttons */

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;

}

.socialmedia i {
    font-family: 'Font Awesome 5 Brands', 'Font Awesome';
    font-style: normal;
    font-weight: 400;
    color: var(--font-title-color);
    font-size: 2em;
    opacity: 0.5;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    
}

.socialmedia i:hover {
    opacity: 0.9;
}

/* menu/links */

li {
    list-style-type: none;
    display: inline;
    font-weight: 600;
}

nav li a {
    background: var(--bg-menu-link);
    border-radius: 10px;
    padding: .55em 1.4em .55em 1.4em;;
    margin-right: 1em;

}

nav li a:hover {
    background: var(--bg-menu-hover);
    color: var(--bg-color2);
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    box-shadow: 8px 8px 0 -0 var(--portrait-shadow);
    
}


ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


footer {
    justify-self: flex-end;
    color: var(--font-footer-color);
    font-size: 0.7em;
    font-weight: 600;
    vertical-align: middle;
}


footer li {
    margin-right: .35em;
    vertical-align: middle;
}

footer i {
    font-family: 'Font Awesome 5 Brands', 'Font Awesome';
    font-style: normal;
    font-weight: 400;
    color: var(--font-title-color);
    font-size: 1.6em;
    opacity: 0.5;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    vertical-align: middle;
}

.portrait {
    border-radius: 14px;
    width: 10em;
    height: 10em;
    box-shadow: 11px 11px 0 -0 var(--portrait-shadow);
    transition: transform .4s;
    -moz-transition: transform .4s;
    -webkit-transition: transform .4s;
    -o-transition: transform .4s;
}

.portrait:hover {
    transition: transform .4s;
    -moz-transition: transform .4s;
    -webkit-transition: transform .4s;
    -o-transition: transform .4s;
    
    transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -webkit-transform: translateY(-8%);
    -o-transform: translateY(-8%);
}